
<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Visualizar Contato</h1>
  </div>
  <div class="col-xs-12">
    <p>
      <h4><b>Name</b></h4>
      <%= @contact.name %>
    </p>

    <p>
      <h4><b>Phone</b></h4>
      <%= @contact.phone %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Edit',  edit_contact_path(@contact), class: 'btn btn-warning' %> 
    <%= link_to 'Back',  contacts_path, class: 'btn btn-success' %>
  </div>
</div>